*{
	box-sizing: border-box;
	margin: 0;
}
/*li{
	list-style: none;
}
nav a{
	background-color: #3F3D3E;
	text-decoration: none;
	color: white;
}
.li{

	display: block;
	opacity: 1;
	transition: visibility 0.8s, opacity 0.6s;
}*/
li{
	list-style: none;
}
.item{
	height: 140px;
}
.asis{
	border-radius: 18px;
	/*position:relative;*/
	width:90%;
	height: 90%;
	top:0;
	left: 0px;
	opacity:1;
	transition: left 0.6s, top 0.6s, opacity 0.6s,width 0.6s, height 0.6s;
}

.ac{
	position: relative;
	width: 100%;
	background-color: white;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	left: 0px;
	top: 0px;
	opacity: 1;
	transition: left 0.2s, top 0.2s, opacity 0.2s,width 0.2s, height 0.2s;

}
.grupo{
	position: relative;
	width: 80%;
	background-color: white;
	height: 80%;
	left: 14px;
	top: 14px;
	opacity: 0.4;
	transition: left 0.6s, top 0.6s, opacity 0.6s,width 0.6s, height 0.6s;
	
}
.eco{
	position: relative;
	width: 80%;
	background-color: white;
	height: 80%;
	left: 14px;
	top: 14px;
	opacity: 0.4;
	transition: left 0.6s, top 0.6s, opacity 0.6s,width 0.6s, height 0.6s;

}

 

.ac1{
	position: relative;
	width: 80%;
	background-color: white;
	height: 80%;
	left: 14px;
	top: 14px;
	opacity: 0.4;
	transition: left 0.6s, top 0.6s, opacity 0.6s,width 0.6s, height 0.6s;

}
.grupo1{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	width: 100%;
	background-color: white;
	height: 100%;
	/*left: 10px;*/
	/*top: 10px;*/
	opacity: 1;
	transition: left 0.6s, top 0.6s, opacity 0.6s,width 0.6s, height 0.6s;
	
}
.eco1{

	position: relative;
	width: 80%;
	background-color: white;
	height: 80%;
	left: 14px;
	top: 14px;
	opacity: 0.4;
	transition: left 0.6s, top 0.6s, opacity 0.6s,width 0.6s, height 0.6s;
	
	
}


.ac2{
	position: relative;
	width: 80%;
	background-color: white;
	height: 80%;
	left: 14px;
	top: 14px;
	opacity: 0.4;
	transition: left 0.6s, top 0.6s, opacity 0.6s,width 0.6s, height 0.6s;

}
.grupo2{

	
	position: relative;
	width: 80%;
	background-color: white;
	height: 80%;
	left: 14px;
	top: 14px;
	opacity: 0.4;
	transition: left 0.6s, top 0.6s, opacity 0.6s,width 0.6s, height 0.6s;
	
	
}
.eco2{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	width: 100%;
	background-color: white;
	height: 100%;
	/*left: 10px;*/
	/*top: 10px;*/
	opacity: 1;
	transition: left 0.6s, top 0.6s, opacity 0.6s,width 0.6s, height 0.6s;

}

 
.nav a{
	border-radius: 8px;
}
.asis p{
	width: 100%;
}


/*.btnAc{
	opacity: 1;
	background-color: #882132;

}
.btnEco{
	opacity: 1;
	background-color: #882132;
}
.btnGrupo{
	opacity: 1;
	background-color: #882132;
}*/



/*.btnAc_desa{
	opacity: 0.6;
	color: #6c757d;

}
.btnEco_desa{
	opacity: 0.6;
	color: #6c757d;
}
.btnGrupo_desa{
	opacity: 0.6;
	color: #6c757d;
}
*/




/*.item{
	height: 100px;
	width: 100px;
}*/


/*
#filtros a{
	text-decoration: none
}
#filtros ul{
	list-style: none;
}

#grafica {
	width: 400px;
	height: 400px;

}


table {
	font-size: 10px;
}

option {
	font-size: 12px;
}

select {
	font-size: 12px;
	width:100%;

}


#filtros p {
	font-size: 14px;
	height: 100%;
	font-weight:bold;
}

#act {
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#head_act {
	border-radius: 12px 12px 0 0;
}

#body_act {
	border-radius: 0 0 12px 12px;
}

#act_1 {
	border-radius: 0 0 0 12px;
}

#act_3 {
	border-radius: 0 0 12px 0;
}

#modalcss {
	border-radius: 12px;


}
#lista a{
	position:relative;
	width:100%;
	top:0;
	opacity:0.9;
	transition:top 0.6s, opacity 0.6s;

}
#lista a:hover{
	position:relative;
	top:-10;
	opacity:1;
	transition:top 0.6s, opacity 0.6s;

	
}
*{
	box-sizing: border-box;
	margin: 0;
}
li{
	list-style: none;
}

.item{
	height: 100px;
	width: 100px;
}
 .asis{
 	height: 100%;
 }

.item{
	height: 140px;
}
.item a{
	border-radius: 18px;
	position:relative;
	width:100%;
	top:0;
	opacity:0.9;
	transition:top 0.6s, opacity 0.6s;

}
.item a:hover{
	position:relative;
	top:-10;
	opacity:1;
	transition:top 0.6s, opacity 0.6s;

}
.nav a{
	border-radius: 8px;
}
.asis p{
	width: 100%;
}

	*/